@import '../../sassStyles/variables.scss';

.teamsSection {
  padding: 9.6rem 0;
}

.subHeading {
  font-size: 3.2rem;
  font-weight: 600;
  color: $text-secondary;
  display: block;
  text-align: center;
  margin-bottom: 4.8rem;
}

.logoArea {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
