$text-primary: #0b141f;
$text-secondary: #0052cc;
$text-white: #fff;
$text-gray: #4e4e4e;

$bg-primary: #0052cc;
$bg-gray: #e1e1e1;

$drop-shadow-sm: drop-shadow(0px 0px 5px rgba(0, 82, 204, 0.2));
$drop-shadow-md: drop-shadow(-5px -5px 15px rgba(0, 82, 204, 0.2));
$drop-shadow-lg: drop-shadow(-10px -10px 30px rgba(0, 82, 204, 0.2));
