@import '../../../sassStyles/variables.scss';

.navBar {
  display: flex;
  justify-content: space-between;
  padding: 1.8rem 2.4rem 1.8rem 7.2rem;
}

nav {
  border-bottom: 1px solid $bg-gray;
}

.loginInfo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.username {
  color: $text-gray;
  font-size: 1.2rem;
}
