@import '../../sassStyles/variables.scss';
.btn {
  display: inline-block;

  font-size: 1.4rem;
  border-radius: 8px;
  margin: 0 0.8rem;
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.btnFull {
  color: $text-white;
  background-color: $bg-primary;
  padding: 1.5rem 2.4rem;
}

.btnOutline {
  color: $text-secondary;
  border: 1px solid $bg-primary;
  padding: 1.2rem 2.4rem;
  box-shadow: 3px 3px 0px $bg-primary;
}

.bold {
  font-weight: 800;
}
